/* styles.css */

/* Add some styling for the body */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0px;
  opacity: 1;
}

/* Add a header at the top of the page */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 7.5% 0px 7.5%;
  border-bottom: 1px solid black;
}

/* Add styles for the header links and input field */
header a {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

header img {
  width: 50px;
  height: 50px;
}

header input {
  width: 118px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 8px;
}

/* Adding navigation thoruout the sections of the website */
.icons .login::after {
  color: rgb(183, 179, 179);
  display: inline-block;
  content: '|';
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Add styles for the navigation icons in the header */
.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-icons a {
  border-right: 1px #333;
}

nav {
  padding-left: 3%;
}

/* Add styles for the navigation items */
.nav-items ol {
  list-style-type: none;
  padding-left: 0px;
}

.nav-item {
  display: inline-block;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #333;
}

.nav-item a::after {
  display: inline-block;
  color: #000;
  content: '/';
  font-size: 80%;
  font-weight: bold;
  padding: 0 8px;
}
  /* Add a main section for the content */
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 0%;
    background-color: #ECEFF1;
  }

img {
    width: 50%;
    height: 60%;
}

.item-info {
    display: flex;
    flex-direction: column;
    background-color: #ECEFF1;
    width: 47%;
}

.item-name {
    padding: 0px 10px;
}

.item-name h3 {
    text-align: center;
    font-family: Inter,sans-serif;
}

.item-description {
    background-color: white;
    padding: 0px 10px;
    border-radius: 12px;
    text-align: center;
}

.description {
  align-self: flex-end;
}

.footer {
    background-color: #ECEFF1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    padding: 0px 10px
}

/* Adding style to the button */
button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;

  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
}

button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

  /* Add a footer at the bottom of the page */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: small;
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(80,80,80,1) 43%, rgba(100,100,100,1) 54%, rgba(169,169,169,1) 76%, rgba(255,255,255,1) 100%); 
  }